:root{
    --card: #d7e2e9;
  }

  body {
      margin: 0;
      padding: 0;
      font-size: 100%;
  }

  .card-container{
    background-color: #d7e2e9;
    /* backdrop-filter: blur(2rem); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* gap: 1.5rem; */
    padding-inline: min(10vmin, 1.5rem);
    padding-block: min(10vmin, 3rem);
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-items: center;
  }
  
  .card{
    border-radius: 1rem;
    border-style: hidden;
    border-color: #d7e2e9;
    width: 27vw;
    height: 80vh;
    overflow: hidden;
    -webkit-box-shadow: -7px 9px 28px 12px rgba(0,0,0,0.67);
    -moz-box-shadow: -7px 9px 28px 12px rgba(0,0,0,0.67);
    box-shadow: -7px 9px 28px 12px rgba(0,0,0,0.67);
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px 2px, rgba(0, 0, 0, 0.12) 0px -12px 30px 2px, rgba(0, 0, 0, 0.12) 0px 4px 6px 2px, rgba(0, 0, 0, 0.17) 0px 12px 13px 2px, rgba(0, 0, 0, 0.09) 0px -3px 5px 2px; */
  }

  .card p{
    font-family: sans-serif;
    font-size: min(1vw, .8rem);
    line-height: 1.4;
    color: rgb(150, 150, 150);
    letter-spacing: .1rem;
    margin-top: min(0.6em, 4vmin);
    width: 40ch;
    text-align: center;
    margin-inline: auto;
    margin-bottom: 0;
  }

  .card h1{
    font-size: min(2vw, 2rem);
    /* color: rgb(32, 32, 32); */
    color: #415a80;
    line-height: 1;
    letter-spacing: .05rem;
    font-family: sans-serif;
    margin-top: min(0.6em, 4vmin);
    font-weight: 700;
    margin-inline: auto;
  }
  
  .card-image{
    height: 70vmin;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .card-btn-container{
    margin-block: min(1.5em, 7vmin);
    margin-inline: auto;
  }
  
  .card-btn{
    /* background-color: rgb(32, 32, 32); */
    background-color: #415a80;
    font-size: min( 1.6vw, 1.2rem);
    color: white;
    font-family: sans-serif;
    letter-spacing: .1em;
    padding: min(.8rem, 10vmin);
    border-radius: 5px;
    box-sizing: border-box;
    text-decoration: none;
  }
  
  .card-btn:hover{
    background-color: #2e5083;
  }

  /* 4k */
  @media (min-width: 1980px) {
    .card p{
      font-size: min(1.5rem, 1.3vmin)!important;
    }

    .card h1{
      font-size: min(3.45rem, 3.25vmin)!important;
    }

    .card{
      height: 75vh;
    }

    .card-btn{
      font-size: 2.2vmin !important;
      padding: 1.2vmin !important;
      border-radius: .8rem;
    }

    .card-btn-container{
      margin-block: min(3.5rem, 3.5vmin);
    }
  }

  /* smaller than tablet sizes */
  @media(max-width: 1024px){
    .card p{
      font-size: min(1.2vw, 0.7rem)!important;
    }

    .card h1{
      font-size: min(2.8vw, 1.6rem)!important;
    }
  
    .card-container{
      gap: 5rem;
    }

    .card{
      height: 100%;
    }

    /* .card-btn-container{
      margin-block: 2vh;
    } */
  }

  /* card width on tablet size */
  @media(max-width: 768px){
    .card{
      width: 35vw;
    }
  }

  /* phone sizes */
  @media(max-width: 650px){
    .card-container{
      grid-template-columns: 1fr;
      height: 100%;
      background-attachment: fixed;
    }

    .card{
      width: 65vw;
    }

    .card h1{
      font-size: min(4.5vw ,1.4rem) !important;
    }
  
    .card p{
      font-size: min(1.8vw, .7rem) !important;
    }
  
    .card-btn{
      font-size: .9rem !important;
      padding: .7rem !important;
    }
  }

  /* extra small phone screens */
  @media(max-width: 375px){
    .card-container{
      grid-template-columns: 1fr;
      height: 100%;
      background-attachment: fixed;
    }

    .card{
      width: 65vw;
    }

    .card h1{
      font-size: min(4.8vw ,1.5rem) !important;
    }
  
    .card p{
      font-size: min(2.2vw, .8rem) !important;
    }
  
    .card-btn{
      font-size: .8rem !important;
      padding: .6rem !important;
    }
  }

  .bg-1{
    background-image: url(src\assets\img\wedding.jpg);
  }

  .bg-2{
    background-image: url(src\assets\img\victoria-petar-wed.jpg);
  }

  .bg-sky{
    background-image: url(src\assets\img\bg-sky.png);
  }