<div>
    <section class="card-wrapper">
        <div class="card-container bg-3">
            <div class="card">
                <div class="card-image bg-1"></div>
                <h1>Kati</h1>
                <p>
                    Check out the happiest moments from Kati's 18th birthday party caught through my lenses.
                </p>
                <div class="card-btn-container">
                    <a routerLink='../portrait-kati-gallery' class="card-btn">GALLERY</a>
                </div>
            </div>
            <div class="card">
                <div class="card-image bg-2"></div>
                <h1>Krisi</h1>
                <p>
                    Check out Krisi's autumn portrait photo shoot including awesome shots and many smiles.
                </p>
                <div class="card-btn-container">
                    <a routerLink='../portrait-krisi-gallery' class="card-btn">GALLERY</a>
                </div>
            </div>
        </div>
    </section>
</div>