<div class="image-grid">
    <img id="1" src="assets/portfolio/victoria-petar/1.jpg" class="img" alt="asd">
    <img id="2" src="assets/portfolio/victoria-petar/2.jpg" class="img" alt="asd">
    <img id="3" src="assets/portfolio/victoria-petar/3.jpg" class="img" alt="asd">
    <img id="4" src="assets/portfolio/victoria-petar/4.jpg" class="img" alt="asd">
    <img id="5" src="assets/portfolio/victoria-petar/5.jpg" class="img" alt="asd">
    <img id="6" src="assets/portfolio/victoria-petar/6.jpg" class="img" alt="asd">
    <img id="7" src="assets/portfolio/victoria-petar/7.jpg" class="img" alt="asd">
    <img id="8" src="assets/portfolio/victoria-petar/8.jpg" class="img" alt="asd">
    <img id="9" src="assets/portfolio/victoria-petar/9.jpg" class="img" alt="asd">
    <img id="10" src="assets/portfolio/victoria-petar/10.jpg" class="img" alt="asd">
    <img id="11" src="assets/portfolio/victoria-petar/11.jpg" class="img" alt="asd">
    <img id="12" src="assets/portfolio/victoria-petar/12.jpg" class="img" alt="asd">
    <img id="13" src="assets/portfolio/victoria-petar/13.jpg" class="img" alt="asd">
    <img id="14" src="assets/portfolio/victoria-petar/14.jpg" class="img" alt="asd">
    <img id="15" src="assets/portfolio/victoria-petar/15.jpg" class="img" alt="asd">
    <img id="16" src="assets/portfolio/victoria-petar/16.jpg" class="img" alt="asd">
    <img id="17" src="assets/portfolio/victoria-petar/17.jpg" class="img" alt="asd">
    <img id="18" src="assets/portfolio/victoria-petar/18.jpg" class="img" alt="asd">
    <img id="19" src="assets/portfolio/victoria-petar/19.jpg" class="img" alt="asd">
    <img id="20" src="assets/portfolio/victoria-petar/20.jpg" class="img" alt="asd">
    <img id="21" src="assets/portfolio/victoria-petar/21.jpg" class="img" alt="asd">
    <img id="22" src="assets/portfolio/victoria-petar/22.jpg" class="img" alt="asd">
    <img id="23" src="assets/portfolio/victoria-petar/23.jpg" class="img" alt="asd">
    <img id="24" src="assets/portfolio/victoria-petar/24.jpg" class="img" alt="asd">
    <img id="25" src="assets/portfolio/victoria-petar/25.jpg" class="img" alt="asd">
    <img id="26" src="assets/portfolio/victoria-petar/26.jpg" class="image-grid-row-2 img" alt="asd">
    <img id="27" src="assets/portfolio/victoria-petar/27.jpg" class="img" alt="asd">
    <img id="28" src="assets/portfolio/victoria-petar/28.jpg" class="img" alt="asd">
    <img id="29" src="assets/portfolio/victoria-petar/29.jpg" class="img" alt="asd">
    <img id="30" src="assets/portfolio/victoria-petar/30.jpg" class="img" alt="asd">
    <img id="31" src="assets/portfolio/victoria-petar/31.jpg" class="img" alt="asd">
    <img id="32" src="assets/portfolio/victoria-petar/32.jpg" class="image-grid-row-2 img" alt="asd">
    <img id="33" src="assets/portfolio/victoria-petar/33.jpg" class="img" alt="asd">
    <img id="34" src="assets/portfolio/victoria-petar/34.jpg" class="img" alt="asd">
    <img id="35" src="assets/portfolio/victoria-petar/35.jpg" class="img" alt="asd">
    <img id="36" src="assets/portfolio/victoria-petar/36.jpg" class="img" alt="asd">
    <img id="37" src="assets/portfolio/victoria-petar/37.jpg" class="img" alt="asd">
    <img id="38" src="assets/portfolio/victoria-petar/38.jpg" class="img" alt="asd">
    <img id="39" src="assets/portfolio/victoria-petar/39.jpg" class="img" alt="asd">
    <img id="40" src="assets/portfolio/victoria-petar/40.jpg" class="img" alt="asd">
    <img id="41" src="assets/portfolio/victoria-petar/41.jpg" class="img" alt="asd">
    <img id="42" src="assets/portfolio/victoria-petar/42.jpg" class="img" alt="asd">
    <img id="43" src="assets/portfolio/victoria-petar/43.jpg" class="img" alt="asd">
    <img id="44" src="assets/portfolio/victoria-petar/44.jpg" class="img" alt="asd">
    <img id="45" src="assets/portfolio/victoria-petar/45.jpg" class="img" alt="asd">
    <img id="46" src="assets/portfolio/victoria-petar/46.jpg" class="image-grid-row-2 img" alt="asd">
    <img id="47" src="assets/portfolio/victoria-petar/47.jpg" class="img" alt="asd">
    <img id="48" src="assets/portfolio/victoria-petar/48.jpg" class="img" alt="asd">
    <img id="49" src="assets/portfolio/victoria-petar/49.jpg" class="img" alt="asd">
    <img id="50" src="assets/portfolio/victoria-petar/50.jpg" class="img" alt="asd">
    <img id="51" src="assets/portfolio/victoria-petar/51.jpg" class="img" alt="asd">
    <img id="52" src="assets/portfolio/victoria-petar/52.jpg" class="img" alt="asd">
    <img id="53" src="assets/portfolio/victoria-petar/53.jpg" class="img" alt="asd">
    <img id="54" src="assets/portfolio/victoria-petar/54.jpg" class="img" alt="asd">
    <img id="55" src="assets/portfolio/victoria-petar/55.jpg" class="img" alt="asd">
    <img id="56" src="assets/portfolio/victoria-petar/56.jpg" class="img" alt="asd">
    <img id="57" src="assets/portfolio/victoria-petar/57.jpg" class="img" alt="asd">
    <img id="58" src="assets/portfolio/victoria-petar/58.jpg" class="img" alt="asd">
    <img id="59" src="assets/portfolio/victoria-petar/59.jpg" class="img" alt="asd">
    <img id="60" src="assets/portfolio/victoria-petar/60.jpg" class="img" alt="asd">
    <img id="61" src="assets/portfolio/victoria-petar/61.jpg" class="img" alt="asd">
    <img id="62" src="assets/portfolio/victoria-petar/62.jpg" class="img" alt="asd">
    <img id="63" src="assets/portfolio/victoria-petar/63.jpg" class="img" alt="asd">
    <img id="64" src="assets/portfolio/victoria-petar/64.jpg" class="img" alt="asd">
    <img id="65" src="assets/portfolio/victoria-petar/65.jpg" class="img" alt="asd">
    <img id="66" src="assets/portfolio/victoria-petar/66.jpg" class="image-grid-row-2 img" alt="asd">
    <img id="67" src="assets/portfolio/victoria-petar/67.jpg" class="img" alt="asd">
    <img id="68" src="assets/portfolio/victoria-petar/68.jpg" class="img" alt="asd">
    <img id="69" src="assets/portfolio/victoria-petar/69.jpg" class="img" alt="asd">
    <img id="70" src="assets/portfolio/victoria-petar/70.jpg" class="img" alt="asd">
    <img id="71" src="assets/portfolio/victoria-petar/71.jpg" class="img" alt="asd">
    <img id="72" src="assets/portfolio/victoria-petar/72.jpg" class="img" alt="asd">
    <img id="73" src="assets/portfolio/victoria-petar/73.jpg" class="img" alt="asd">
    <img id="74" src="assets/portfolio/victoria-petar/74.jpg" class="img" alt="asd">
</div>

<div class="popup-image" id="popup-image-div">
    <span id="popup-span" (click)="closePopup()">&times;</span>
    <button class="slide-btn btn-left" (click)="previousImage()">&#10094;</button>
    <button class="slide-btn btn-right" (click)="nextImage()">&#10095;</button>
    <img id="popup-image" alt="popup image">
</div>