<div class="image-grid">
    <img id="1" src="assets/portfolio/krisi-portrait/1.jpg" class="img" alt="asd">
    <img id="2" src="assets/portfolio/krisi-portrait/2.jpg" class="img" alt="asd">
    <img id="3" src="assets/portfolio/krisi-portrait/3.jpg" class="image-grid-row-2 img" alt="asd">
    <!-- <img id="1" src="assets/portfolio/krisi-portrait/4.jpg" class="img" alt="asd"> -->
    <img id="4" src="assets/portfolio/krisi-portrait/5.jpg" class="img" alt="asd">
    <img id="5" src="assets/portfolio/krisi-portrait/6.jpg" class="img" alt="asd">
    <img id="6" src="assets/portfolio/krisi-portrait/7.jpg" class="img" alt="asd">
    <img id="7" src="assets/portfolio/krisi-portrait/8.jpg" class="img" alt="asd">
    <img id="8" src="assets/portfolio/krisi-portrait/9.jpg" class="img" alt="asd">
    <img id="9" src="assets/portfolio/krisi-portrait/10.jpg" class="image-grid-row-2 img" alt="asd">
    <img id="10" src="assets/portfolio/krisi-portrait/11.jpg" class="img" alt="asd">
    <img id="11" src="assets/portfolio/krisi-portrait/12.jpg" class="img" alt="asd">
    <img id="12" src="assets/portfolio/krisi-portrait/15.jpg" class="img" alt="asd">
    <img id="13" src="assets/portfolio/krisi-portrait/16.jpg" class="img" alt="asd">
    <img id="14" src="assets/portfolio/krisi-portrait/17.jpg" class="image-grid-row-2 img" alt="asd">
    <img id="15" src="assets/portfolio/krisi-portrait/18.jpg" class="img" alt="asd">
    <img id="16" src="assets/portfolio/krisi-portrait/19.jpg" class="img" alt="asd">
    <!-- <img id="1" src="assets/portfolio/krisi-portrait/20.jpg" class="image-grid-row-2 img" alt="asd"> -->
    <img id="17" src="assets/portfolio/krisi-portrait/21.jpg" class="img" alt="asd">
    <img id="18" src="assets/portfolio/krisi-portrait/22.jpg" class="image-grid-row-2 img" alt="asd">
    <img id="19" src="assets/portfolio/krisi-portrait/13.jpg" class="img" alt="asd">
    <img id="20" src="assets/portfolio/krisi-portrait/24.jpg" class="image-grid-row-2 img" alt="asd">
    <img id="21" src="assets/portfolio/krisi-portrait/25.jpg" class="image-grid-row-2 img" alt="asd">
    <img id="22" src="assets/portfolio/krisi-portrait/26.jpg" class="img" alt="asd">
    <img id="23" src="assets/portfolio/krisi-portrait/27.jpg" class="img" alt="asd">
    <img id="24" src="assets/portfolio/krisi-portrait/28.jpg" class="img" alt="asd">
    <img id="25" src="assets/portfolio/krisi-portrait/29.jpg" class="img" alt="asd">
    <img id="26" src="assets/portfolio/krisi-portrait/30.jpg" class="img" alt="asd">
</div>

<div class="popup-image" id="popup-image-div">
    <span id="popup-span" (click)="closePopup()">&times;</span>
    <button class="slide-btn btn-left" (click)="previousImage()">&#10094;</button>
    <button class="slide-btn btn-right" (click)="nextImage()">&#10095;</button>
    <img id="popup-image" alt="popup image">
</div>