<div class="image-grid">
    <img src="assets/portfolio/krisi-portrait/1.jpg" alt="asd">
    <img src="assets/portfolio/krisi-portrait/2.jpg" alt="asd">
    <img src="assets/portfolio/krisi-portrait/3.jpg" class="image-grid-row-2" alt="asd">
    <!-- <img src="assets/portfolio/krisi-portrait/4.jpg" alt="asd"> -->
    <img src="assets/portfolio/krisi-portrait/5.jpg" alt="asd">
    <img src="assets/portfolio/krisi-portrait/6.jpg" alt="asd">
    <img src="assets/portfolio/krisi-portrait/7.jpg" alt="asd">
    <img src="assets/portfolio/krisi-portrait/8.jpg" alt="asd">
    <img src="assets/portfolio/krisi-portrait/9.jpg" alt="asd">
    <img src="assets/portfolio/krisi-portrait/10.jpg" class="image-grid-row-2" alt="asd">
    <img src="assets/portfolio/krisi-portrait/11.jpg" alt="asd">
    <img src="assets/portfolio/krisi-portrait/12.jpg" alt="asd">
    <img src="assets/portfolio/krisi-portrait/15.jpg" alt="asd">
    <img src="assets/portfolio/krisi-portrait/16.jpg" alt="asd">
    <img src="assets/portfolio/krisi-portrait/17.jpg" class="image-grid-row-2" alt="asd">
    <img src="assets/portfolio/krisi-portrait/18.jpg" alt="asd">
    <img src="assets/portfolio/krisi-portrait/19.jpg" alt="asd">
    <!-- <img src="assets/portfolio/krisi-portrait/20.jpg" class="image-grid-row-2" alt="asd"> -->
    <img src="assets/portfolio/krisi-portrait/21.jpg" alt="asd">
    <img src="assets/portfolio/krisi-portrait/22.jpg" class="image-grid-row-2" alt="asd">
    <img src="assets/portfolio/krisi-portrait/13.jpg" alt="asd">
    <img src="assets/portfolio/krisi-portrait/24.jpg" class="image-grid-row-2" alt="asd">
    <img src="assets/portfolio/krisi-portrait/25.jpg" class="image-grid-row-2" alt="asd">
    <img src="assets/portfolio/krisi-portrait/26.jpg" alt="asd">
    <img src="assets/portfolio/krisi-portrait/27.jpg" alt="asd">
    <img src="assets/portfolio/krisi-portrait/28.jpg" alt="asd">
    <img src="assets/portfolio/krisi-portrait/29.jpg" alt="asd">
    <img src="assets/portfolio/krisi-portrait/30.jpg" alt="asd">
</div>