.pictureNavbar{
    width: 100%;
    margin-top: 4vw;
    margin-right: 0pt;
    position: absolute;
    transition: 0.6s ease;
}

.sticky{
  position: fixed;
  top: 0;
  width: 100%;
}

.brand{
    align-items: center;
    display: inline-flex;
    height: 10vh;
    justify-content: flex-start;
}

.brand ul{
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    min-height: 4vw;
    min-width: 30vw;
    padding: 1.5vw;
    margin-left: 11vw;
}

.brand li{
    display: inline-flex;
    margin-right: 1vw;
}
  
.brand i{
    font-size: 24px;
}

.logo{
    min-height: 4vw;
    padding: 1.5vw;
    min-width: 7vw;
    text-align: center;
    justify-content: center;
}

.fa-brands{
    color: black;
}

.slideshow-container {
    width: 100%;
    position: relative;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.navigation a{
    text-decoration: none;
    color: #333333;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 18px;
    position: relative;
    z-index: 1;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
  }
  
  .navigation a:after,
  .navigation a:before {
    transition: all .5s;
  }
  
  .navigation a:hover{
    color: white;
  }
  
  .navigation a::after{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: '';
    color: transparent;
    background: #202020;
    visibility: none;
    opacity: 0;
    z-index: -1;
  }
  
  .navigation a:hover::after{
    opacity: 1;
    visibility: visible;
    height: 100%;
    color: #a55013;
  }
  
  .navigation li{
    display: inline-block;
    margin-right: 3vw;
  }
  
  .navigation-left{
    margin-left: 11vw;
  }
  
  .navigation-right{
    margin-left: 16vw;
  }
  
  .navigation{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    min-height: 7vh;
    font-family:'Poppins', sans-serif;
  }  

.main-nav{
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Twinkle Star', cursive;
    font-size: 2vw;
    margin-left: 5vw;
}

.imgStrech{
    flex:100vw;
    object-fit:fill;
    height: 100vh;
    /* opacity:0.85; */
}

.slides {
    display: flex;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }

.bg-1{
    background-image:url(src\assets\img\Danube2.jpg);
}

.bg-2{
    background-image:url(src\assets\img\JulyMorning.jpg);
}

.bg-3{
    background-image:url(src\assets\img\Danube.jpg);
}

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }

  .slidenumber {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .active, .dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 0.5s;
    animation-name: fade;
    animation-duration: 0.5s;
}

  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}