/* .home-container{
  width: 100%;
  height: 100%;
}

.home-nav{
  padding-top: 7rem;
  text-decoration: none;
  align-items: center;
}
.home-nav ul{
  display: flex;
  gap: 4rem;
  justify-content: right;
  padding-block: 2rem;
  padding-inline: clamp(3rem, 10vw, 10rem);

  list-style: none;
  padding: 0;
  margin: 0;
}

.home-bg{
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home-nav a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.3rem;
  font-weight: 200;
  font-family:'Poppins', sans-serif;
  letter-spacing: .1rem;
} */

.pictureNavbar{
    width: 100%;
    margin-top: 4vw;
    margin-right: 0pt;
    position: absolute;
    transition: 0.6s ease;
}

.sticky{
  position: fixed;
  top: 0;
  width: 100%;
}

.brand{
    display: inline-flex;
    height: 10vh;
    justify-content: flex-start;
}

.brand ul{
    align-self: center;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    min-height: 4vw;
    width: 30vw;
    padding: 1.5vw;
    margin-inline: 8vw;
}

.brand li{
    display: inline-flex;
    margin-right: 1vw;
}
  
.brand i{
    font-size: 24px;
}

.mobile-nav-toggle{
  display: none;
}

.logo{
    min-height: 4vw;
    padding: 1.5vw;
    min-width: 7vw;
    text-align: center;
    justify-content: center;
}

.fa-brands{
    color: black;
}

.slideshow-container {
    width: 100%;
    position: relative;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.home-nav a{
    text-decoration: none;
    color: #333333;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.2rem;
    position: relative;
    z-index: 1;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
  }

  /* 4K */
  @media (min-width: 1440px ) and (max-width: 4196px) {
    .brand i{
      font-size: min(2.5rem, 2vw);
    }
    .home-nav a{
      font-size: min(2.25rem, 1.35vw);
      padding: 5px !important;
    }
  }

  @media(max-width: 1440px){
    .home-nav a{
      letter-spacing: 3px;
      font-size: 1rem;
      padding: 10px;
    }

    .home-nav{
      gap: .5rem !important;
    }
  }

  @media(max-width: 1200px){
    .home-nav a{
      letter-spacing: 1.5px;
      font-size: .85rem;
    }

    .home-nav{
      gap: .3rem !important;
    }
  }

  @media(max-width: 920px){
    .home-nav{
      display: flex;
      align-items: left;
      flex-direction: column;
      list-style: none;
      position: relative;
      padding: 0;
      margin-top: 30vh;
      margin-bottom: -9.7rem;
    }

    .home-nav-container{
      display: none!important;
    }

    .home-nav a{
      padding: .5rem;
      margin: 0rem;
      margin-top: 1rem;
      font-size: min(4.1vw, 1.45rem);
      color: black;
      letter-spacing: 1px;
      line-height: 2;
    }

    .mobile-nav-toggle{
      display: block;
      position: fixed;
      z-index: 9;
      background-repeat: no-repeat;
      background: url(src\assets\img\bar-icon.png);
      border: 0;
      width: 24px;
      aspect-ratio: 1;
      top: 2rem;
      right: 2rem;
      font-family: FontAwesome;
    }

    .logo{
      display: none;
    }

    .brand-container{
      display: none;
    }
  }

  @media (min-width: 920px)
  {
    .home-nav-container-mobile{
      display: none!important;
    }
  }
  
  .home-nav-container-mobile[data-visible="true"]{
    transform: translateX(0%);
  }

  .home-nav a:after,
  .home-nav a:before {
    transition: all .5s;
  }
  
  .home-nav a:hover{
    color: white;
  }
  
  .home-nav a::after{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: '';
    color: transparent;
    background: #202020;
    visibility: none;
    opacity: 0;
    z-index: -1;
  }
  
  .home-nav a:hover::after{
    opacity: 1;
    visibility: visible;
    height: 100%;
    color: #a55013;
  }
  
  .home-nav{
    display: flex;
    justify-content: center;
    gap: 3rem;
    list-style: none;
    width: 30vw;
    margin-inline: 7.5vw;
  }
  
  .home-nav-container{
    align-items: center;
    display: inline-flex;
    min-height: 7vh;
    font-family:'Poppins', sans-serif;
  }
  .home-nav-container-mobile{
    display: flex;
    /* background-color: steelblue; */
    -webkit-backdrop-filter: blur(2rem);
    backdrop-filter: blur(2rem);
    inset: 0 0 0 50%;
    flex-direction: column;
    position: fixed;
    z-index: 8;
    transform: translateX(100%);
    transition: transform 350ms ease-out;
  }

.main-nav{
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Twinkle Star', cursive;
    font-size: 2vw;
    margin-left: 5vw;
}

.imgStrech{
    flex:100vw;
    object-fit:fill;
    height: 100vh;
    /* opacity:0.85; */
}

.slides {
    display: flex;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    transition: 1s linear;
  }

.slide-btn{
  border: none;
  background-color: transparent;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: min(5vw, 1.35rem);
}

.btn-left{
  position: absolute;
  top: 50%;
  left: 0rem;
}

.btn-right{
  position:absolute;
  top: 50%;
  right: 0rem;
}

.bg-1{
  background-image:url(src\assets\img\JulyMorning.jpg);
}

.bg-2{
  background-image:url(src\assets\img\Danube2.jpg);
}

.bg-3{
  background-image:url(src\assets\img\Danube.jpg);
}

.bg-4{
  background-image:url(src\assets\img\victoria-petar-wed-bg1.jpg);
}

.bg-5{
  background-image:url(src\assets\img\victoria-petar-wed-bg2.jpg);
}

.bg-6{
  background-image:url(src\assets\img\victoria-petar-wed-bg3.jpg);
}

.bg-7{
  background-image:url(src\assets\img\victoria-petar-wed-bg4.jpg);
}

.bg-8{
  background-image:url(src\assets\img\victoria-petar-wed-bg5.jpg);
}

.bg-9{
  background-image:url(src\assets\img\vanesa-stanislav-wed-bg1.jpg);
}

.bg-10{
  background-image:url(src\assets\img\vanesa-stanislav-wed-bg2.jpg);
}

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }

  .slidenumber {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .active, .dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 0.5s;
    animation-name: fade;
    animation-duration: 0.5s;
}

  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}