<div class="slideshow-container">
    <div class="slides imgStrech bg-1" id="slides">
        <button class="slide-btn btn-left" (click)="previousSlideShow()">&#10094;</button>
        <button class="slide-btn btn-right" (click)="nextSlideShow()">&#10095;</button>
        <div class="pictureNavbar">
            <div class="brand-container">
              <nav class="brand">
                <ul>
                  <li>
                    <a title="Facebook" href="https://www.facebook.com/phbyviki-109958021529934"><i class="fa-brands fa-facebook"></i></a>
                  </li>
                  <li>
                    <a title="Instagram" href="https://www.instagram.com/_phbyviki/"><i class="fa-brands fa-instagram"></i></a>
                  </li>
                </ul>
                <span class="logo"></span>
                <ul>
                  <li>
                    <a title="Youtube"><i class="fa-brands fa-youtube"></i></a>
                  </li>
                  <li>
                    <a title="Github" href="https://github.com/martuto31/PhotographyWebsite"><i class="fa-brands fa-github"></i></a>
                  </li>
                </ul>
              </nav>
            </div>

            <nav class="home-nav-container" >
              <ul class="home-nav">
                <li>
                  <a class="" href="#">Home</a>
                </li>
                <li>
                  <a class=""href="#about-me">About me</a>
                </li>
                <li>
                  <a class="" href="#">Pricing</a>
                </li>
              </ul>
              <span class="logo"></span>
              <ul class="home-nav">
                <li>
                  <a class="" href="#">Contacts</a>
                </li>
                <li>
                  <a class="" routerLink="portfolio/weddings">My work</a>
                </li>
                <li>
                  <a class="" href="#">Info</a>
                </li>
              </ul>
            </nav>

            

            <button (click)="onToggle()" class="mobile-nav-toggle" aria-controls="home-nav" aria-expanded="false">
              <!-- <i class="fa-solid fa-bars"></i> -->
              <span class="sr-only">Menu</span>
            </button>

            <nav class="home-nav-container-mobile" data-visible="false" id="home-nav">
              <ul class="home-nav">
                <li>
                  <a class="" href="#">Home</a>
                </li>
                <li>
                  <a class="" href="#about-me">About me</a>
                </li>
                <li>
                  <a class="" href="#">Pricing</a>
                </li>
                <li>
                  <a class="" href="#">Contacts</a>
                </li>
                <li>
                  <a class="" routerLink="portfolio/weddings">My work</a>
                </li>
                <li>
                  <a class="" href="#">Info</a>
                </li>
              </ul>
            </nav>
        </div>    
    </div>