<div>
    <section class="card-wrapper">
        <div class="card-container bg-3">
            <div class="card">
                <div class="card-image bg-1"></div>
                <h1>Merri's Graduation</h1>
                <p>
                    Check out Merri's graduation ceremony including graduation walk, graduation walk and family pictures.
                </p>
                <div class="card-btn-container">
                    <a routerLink='../graduation-meri-gallery' class="card-btn">GALLERY</a>
                </div>
            </div>
            <div class="card">
                <div class="card-image bg-2"></div>
                <h1>Vanesa's Graduation</h1>
                <p>
                    Check out Vanesa's graduation night party including dancing shots, family pictures and more.
                </p>
                <div class="card-btn-container">
                    <a routerLink='../graduation-vanesa-gallery' class="card-btn">GALLERY</a>
                </div>
            </div>
        </div>
    </section>
</div>