<nav class="mobile-nav" id="mobile-nav">
    <button (click)="onToggle()" class="mobile-nav-toggle" aria-controls="portfolio-container" aria-expanded="false" id="portfolio-toggle-btn">
        <!-- <i class="fa-solid fa-bars"></i> -->
        <span class="sr-only">Menu</span>
    </button>    
</nav>

<div class="portfolio-container">
    <div class="portfolio-nav-container">
        <nav class="portfolio-nav" >
            <ul id="portfolio-container" data-visible="false">
                <li>
                    <a routerLink="/">HOME</a>
                </li>
                <li>
                    <a routerLink="graduation">GRADUATION</a>
                </li>
                <li>
                    <a routerLink="portrait">PORTRAIT</a>
                </li>
                <li>
                    <a routerLink='weddings'>WEDDINGS</a>
                </li>
            </ul>
        </nav>

        <nav class="links-nav">
            <ul id="links-container" data-visible="false">
                <li>
                    <a title="Facebook" href="https://www.facebook.com/phbyviki-109958021529934"><i class="fa-brands fa-facebook"></i></a>
                </li>
                <li>
                    <a title="Instagram" href="https://www.instagram.com/_phbyviki/"><i class="fa-brands fa-instagram"></i></a>
                </li>
                <li>
                    <a title="Github" href="https://github.com/martuto31/PhotographyWebsite"><i class="fa-brands fa-github"></i></a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="main">
        <router-outlet></router-outlet>
    </div>
</div>
