.portfolio-container{
    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: 100%;
    /* overflow: hidden; */
}

.links-nav ul{
    padding: 0;
    height: 100%;
    inset: 90% 80% 0% 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: fixed;
    gap: 1.5rem;
    color: white;
    justify-content: center;
}

.fa-brands{
    color: white;
}

/* .portfolio-nav{
    background-color: black;
    z-index: 2;
    position: fixed;
} */

.portfolio-nav ul{
    padding: 0;
    height: 100%;
    inset: 0 80% 0 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-top: 30vh;
    align-items: center;
    position: fixed;
    gap: 1.5rem;
}

.portfolio-nav li{
    list-style: none;
}

.portfolio-nav a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    font-size: min(1.8vw, 1.1rem);
}

.main{
    margin-left: 20%;
}

.mobile-nav-toggle{    
    display: none;
}

.mobile-nav{
    display: none;
}

/* nav toggle for tablets and phones */
  @media (max-width: 768px)
  {
    .mobile-nav-toggle{
        display: block;
        position: fixed;
        z-index: 10;
        background-repeat: no-repeat;
        background: url(src\assets\img\bar-icon-white.png);
        border: 0;
        width: 24px;
        aspect-ratio: 1;
        top: 1.5rem;
        left: 1.5rem;
        font-family: FontAwesome;
    }

    .portfolio-nav ul{
        transform: translateX(-150%);
        transition: transform 350ms ease-out;
        z-index: 8;
        inset: 0 50% 0 0;
        gap: 0;
    }

    .links-nav ul{
        transform: translateX(-150%);
        transition: transform 350ms ease-out;
        z-index: 10;
        inset: 90% 50% 0% 0;
    }

    .portfolio-nav a{
        font-size: min(4.1vw, 1.45rem);
        letter-spacing: 1px;
        line-height: 2.5;
    }

    .main{
        margin-left: 0;
    }

    .portfolio-nav ul[data-visible="true"]{
        transform: translateX(0%);
    }

    .links-nav ul[data-visible="true"]{
        transform: translateX(0%);
    }

    .mobile-nav{
        display: block;
        padding-bottom: min(5rem, 24vw);
        margin-bottom: 20vw;
        position: fixed;
        top: 0;
        width: 100vw;
        z-index: 9;
    }

    .portfolio-container{
        margin-top: min(5rem, 24vw);
    }
  }

  .bg-wedding{
    background-color: #415a80;
  }

  .bg-portrait{
    background-color: #D2738f;
  }
  
  .bg-graduation{
    background-color: black;
  }