<div class="portfolio-container">
    <div class="portfolio-nav-container">
        <nav class="portfolio-nav">
            <ul  id="portfolio-container">
                <li>
                    <a routerLink="/">HOME</a>
                </li>
                <li>
                    <a routerLink="graduation">GRADUATION</a>
                </li>
                <li>
                    <a routerLink="portrait">PORTRAIT</a>
                </li>
                <li>
                    <a routerLink='weddings'>WEDDINGS</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="main">
        <router-outlet></router-outlet>
    </div>
</div>
