.service-textfield{
    background-color: peachpuff;
    border-color: #FF7477;
    border-style: solid;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    width: 45vw;
    height: 60vh;
    margin: auto;
    
}

.main-content{
    background-color: lightyellow;
    width: 100vmax;
    height: 100vmin;
    position: absolute;
}

.pricing-nav{
    width: 18%;
    float: left;
    /* background-color: #FF7477; */
    margin-left: 6vw;
    text-align: left;
    font-size: 2.5vh;
    font-weight: 700;
}
.pricing-nav-bootstrapModify{
    color: #a55013;
    border-color: #FF7477;
    background-color: peachpuff;
    border-left-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-width: 1.5px;
}

.pricing-nav-bootstrapModify:hover{
    background-color: #FF7477;
}

.pricing-nav-active{
    background-color: #FF7477;
}

.pricing-header{
    margin: 4vmax;
    text-align: center;
    font-style: oblique;
    font-size: 2.5vmax;
    font-family:sans-serif;
}

.pictureNavbar{
    width: 100vw;
    margin-top: 4vw;
    margin-right: 0pt;
    position: absolute;
    transition: 0.6s ease;
}

.imgStrech{
    flex:100vw;
    object-fit:fill;
    height: 100vh;
    opacity:0.85;
}

.main-nav{
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Twinkle Star', cursive;
    font-size: 2vw;
    margin-left: 5vw;
}

.slideshow-container {
    max-width: 100vw;
    position: relative;
    margin: auto;
  }

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.slides {
    display: flex;
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }

  .slidenumber {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active, .dot:hover {
    background-color: #717171;
  }

  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 0.5s;
    animation-name: fade;
    animation-duration: 0.5s;
  }

  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }