<app-slideshow></app-slideshow>

<!-- main content -->
<div class="main-content">
  <div class="aboutmePictureContainer">
    <img src="assets/img/aboutme.jpg" class="rounded-corners about-me" alt="About me">
  </div>

  <div class="about-me-text-container">
    <h3>
      About me
    </h3>
    <p>
      Здравейте, казвам се Виктория и съм на 17 години от град Видин. Занимавам се с фотография от две години като в началото започнах да правя пейзажни снимки, а в последствие и портретни. Ходила съм на два курса по фотография, които ми помогнаха да развия своята креативност и да разгърна потенциала си в снимките. Участвала съм в много конкурси. 
    </p>
    <br>
    <p>
      Работя с Nikon D5300 и светкавица Godox tt685. Снимам портретни фотосесии, детски фотосесии, кучешки фотосесии, абитуриентски балове, кръщанета и сватби.
    </p>
    <br>
    <p>
      От мен ще получите бърза и качествена фотография, уловена от най-красивите моменти от вашето събитие. 
    </p>
  </div>
</div>

<div class="main-content">
  <div class="my-work-picture-conteiner"></div>
</div>