<div class="image-grid">
    <img src="assets/vanesa-stanislav-wedding/1.jpg" alt="asd">
    <img src="assets/vanesa-stanislav-wedding/2.jpg" alt="asd">
    <img src="assets/vanesa-stanislav-wedding/3.jpg" class="image-col-row-2" alt="asd">
    <img src="assets/vanesa-stanislav-wedding/4.jpg" alt="asd">
    <img src="assets/vanesa-stanislav-wedding/5.jpg" alt="asd">
    <img src="assets/vanesa-stanislav-wedding/6.jpg" class="image-grid-row-2" alt="asd">
    <img src="assets/vanesa-stanislav-wedding/7.jpg" alt="asd">
    <img src="assets/vanesa-stanislav-wedding/8.jpg" alt="asd">
    <img src="assets/vanesa-stanislav-wedding/9.jpg" alt="asd">
    <img src="assets/vanesa-stanislav-wedding/10.jpg" alt="asd">
    <img src="assets/vanesa-stanislav-wedding/11.jpg" alt="asd">
    <img src="assets/vanesa-stanislav-wedding/12.jpg" alt="asd">
    <img src="assets/vanesa-stanislav-wedding/13.jpg" alt="asd">
    <img src="assets/vanesa-stanislav-wedding/14.jpg" alt="asd">
    <img src="assets/vanesa-stanislav-wedding/15.jpg" alt="asd">
    <img src="assets/vanesa-stanislav-wedding/16.jpg" alt="asd">
    <img src="assets/vanesa-stanislav-wedding/17.jpg" alt="asd">
    <img src="assets/vanesa-stanislav-wedding/18.jpg" alt="asd">
    <img src="assets/vanesa-stanislav-wedding/19.jpg" alt="asd">
    <img src="assets/vanesa-stanislav-wedding/20.jpg" alt="asd">
</div>