<div class="image-grid">
    <img id="1" src="assets/portfolio/meri-graduation/1.jpg" class="img" alt="asd">
    <img id="2" src="assets/portfolio/meri-graduation/2.jpg" class="image-grid-row-2 img" alt="asd">
    <img id="3" src="assets/portfolio/meri-graduation/3.jpg" class="img" alt="asd">
    <img id="4" src="assets/portfolio/meri-graduation/4.jpg" class="image-grid-row-2 img" alt="asd">
    <img id="5" src="assets/portfolio/meri-graduation/5.jpg" class="image-grid-row-2 img" alt="asd">
    <img id="6" src="assets/portfolio/meri-graduation/6.jpg" class="img" alt="asd img">
    <img id="7" src="assets/portfolio/meri-graduation/7.jpg" class="img" alt="asd img">
    <img id="8" src="assets/portfolio/meri-graduation/8.jpg" class="image-grid-row-2 img" alt="asd">
    <img id="9" src="assets/portfolio/meri-graduation/9.jpg" class="image-grid-row-2 img" alt="asd">
    <img id="10" src="assets/portfolio/meri-graduation/10.jpg" class="image-grid-row-2 img" alt="asd">
    <img id="11" src="assets/portfolio/meri-graduation/11.jpg" class="image-grid-row-2 img" alt="asd">
    <img id="12" src="assets/portfolio/meri-graduation/12.jpg" class="image-grid-row-2 img" alt="asd">
    <img id="13" src="assets/portfolio/meri-graduation/13.jpg" class="image-grid-row-2 img" alt="asd">
    <img id="14" src="assets/portfolio/meri-graduation/14.jpg" class="image-grid-row-2 img" alt="asd">
    <img id="15" src="assets/portfolio/meri-graduation/15.jpg" class="img" alt="asd">
    <img id="16" src="assets/portfolio/meri-graduation/16.jpg" class="img" alt="asd">
    <img id="17" src="assets/portfolio/meri-graduation/17.jpg" class="img" alt="asd">
    <img id="18" src="assets/portfolio/meri-graduation/18.jpg" class="image-grid-row-2 img" alt="asd">
    <img id="19" src="assets/portfolio/meri-graduation/19.jpg" class="image-grid-row-2 img" alt="asd">
    <img id="20" src="assets/portfolio/meri-graduation/20.jpg" class="image-grid-row-2 img" alt="asd">
    <img id="21" src="assets/portfolio/meri-graduation/21.jpg" class="img" alt="asd">
    <img id="22" src="assets/portfolio/meri-graduation/22.jpg" class="image-grid-row-2 img" alt="asd">
    <img id="23" src="assets/portfolio/meri-graduation/23.jpg" class="image-grid-row-2 img" alt="asd">
    <img id="24" src="assets/portfolio/meri-graduation/24.jpg" class="img" alt="asd">
    <img id="25" src="assets/portfolio/meri-graduation/25.jpg" class="image-grid-row-2 img" alt="asd">
    <img id="26" src="assets/portfolio/meri-graduation/26.jpg" class="image-grid-row-2 img" alt="asd">
    <img id="27" src="assets/portfolio/meri-graduation/27.jpg" class="image-grid-row-2 img" alt="asd">
    <img id="28" src="assets/portfolio/meri-graduation/28.jpg" class="image-grid-row-2 img" alt="asd">
    <img id="29" src="assets/portfolio/meri-graduation/29.jpg" class="img" alt="asd">
</div>

<div class="popup-image" id="popup-image-div">
    <span id="popup-span" (click)="closePopup()">&times;</span>
    <button class="slide-btn btn-left" (click)="previousImage()">&#10094;</button>
    <button class="slide-btn btn-right" (click)="nextImage()">&#10095;</button>
    <img id="popup-image" alt="popup image">
</div>