body{
    margin: 0;
}

.image-grid{
    --gap: .9rem;
    --num-cols: 4;
    --row-height: 18.75rem;

    box-sizing: border-box;
    padding: var(--gap);

    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
}

.image-grid > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.image-grid img{
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
}

.image-grid img:hover{
    transform: scale(1.1);
}

.image-grid-col-2{
    grid-column: span 2;
}

.image-grid-row-2{
    grid-row: span 2;
}

.image-col-row-2{
    grid-row: span 2;
    grid-column: span 2;
}

.popup-image{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0; left: 0;
    background: rgba(0,0,0 0.9);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
    -webkit-backdrop-filter: blur(.5rem);
    backdrop-filter: blur(.5rem);
}

.popup-image span{
    position: absolute;
    top: 0; right: .8rem;
    font-size: 4rem;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
    z-index: 100;
}

.popup-image img{
    border: 5px solid white;
    border-radius: .45rem;
    max-width: 86%;
    max-height: 90%;
    /* width: min(45vw, 35rem); */
    object-fit: cover;
}

/* phone screens */
@media(max-width: 768px){
    .popup-image img{
        max-width: 92%;
        max-height: 92%;
    }
    .btn-left{
        left: 1%!important;
    }
    .btn-right{
        right: 1%!important;
    }
}

/* tablets and small laptops */
@media(min-width: 768px) and (max-width: 1024px){
    .popup-image img{
        max-width: 92%;
        max-height: 92%;
    }
    .btn-left{
        left: 5%!important;
    }
    .btn-right{
        right: 5%!important;
    }
}

.slide-btn{
    border: none;
    background-color: transparent;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: min(5vw, 1.35rem);
}

.btn-left{
    position:absolute;
    top: 45%;
    left: 17%;
}

.btn-right{
    position: absolute;
    top: 45%;
    right: 17%;
}

@media (min-width: 1980px){
    .image-grid{
        --num-cols: 3;
        --row-height: 40rem;
    }
}

@media screen and (max-width: 1024px)
{
    .image-grid{
        --num-cols: 2;
        --row-height: 12.5rem;
    }
}