<div class="image-grid">
    <img src="assets/portfolio/meri-graduation/1.jpg" alt="asd">
    <img src="assets/portfolio/meri-graduation/2.jpg" class="image-grid-row-2" alt="asd">
    <img src="assets/portfolio/meri-graduation/3.jpg" alt="asd">
    <img src="assets/portfolio/meri-graduation/4.jpg" class="image-grid-row-2" alt="asd">
    <img src="assets/portfolio/meri-graduation/5.jpg" class="image-grid-row-2" alt="asd">
    <img src="assets/portfolio/meri-graduation/6.jpg" alt="asd">
    <img src="assets/portfolio/meri-graduation/7.jpg" alt="asd">
    <img src="assets/portfolio/meri-graduation/8.jpg" class="image-grid-row-2" alt="asd">
    <img src="assets/portfolio/meri-graduation/9.jpg" class="image-grid-row-2" alt="asd">
    <img src="assets/portfolio/meri-graduation/10.jpg" class="image-grid-row-2" alt="asd">
    <img src="assets/portfolio/meri-graduation/11.jpg" class="image-grid-row-2" alt="asd">
    <img src="assets/portfolio/meri-graduation/12.jpg" class="image-grid-row-2" alt="asd">
    <img src="assets/portfolio/meri-graduation/13.jpg" class="image-grid-row-2" alt="asd">
    <img src="assets/portfolio/meri-graduation/14.jpg" class="image-grid-row-2" alt="asd">
    <img src="assets/portfolio/meri-graduation/15.jpg" alt="asd">
    <img src="assets/portfolio/meri-graduation/16.jpg" alt="asd">
    <img src="assets/portfolio/meri-graduation/17.jpg" alt="asd">
    <img src="assets/portfolio/meri-graduation/18.jpg" class="image-grid-row-2" alt="asd">
    <img src="assets/portfolio/meri-graduation/19.jpg" class="image-grid-row-2" alt="asd">
    <img src="assets/portfolio/meri-graduation/20.jpg" class="image-grid-row-2" alt="asd">
    <img src="assets/portfolio/meri-graduation/21.jpg" alt="asd">
    <img src="assets/portfolio/meri-graduation/22.jpg" class="image-grid-row-2" alt="asd">
    <img src="assets/portfolio/meri-graduation/23.jpg" class="image-grid-row-2" alt="asd">
    <img src="assets/portfolio/meri-graduation/24.jpg" alt="asd">
    <img src="assets/portfolio/meri-graduation/25.jpg" class="image-grid-row-2" alt="asd">
    <img src="assets/portfolio/meri-graduation/26.jpg" class="image-grid-row-2" alt="asd">
    <img src="assets/portfolio/meri-graduation/27.jpg" class="image-grid-row-2" alt="asd">
    <img src="assets/portfolio/meri-graduation/28.jpg" class="image-grid-row-2" alt="asd">
    <img src="assets/portfolio/meri-graduation/29.jpg" alt="asd">
</div>