<div class="image-grid">
    <img src="assets/portfolio/meri-graduation/1.jpg" alt="asd">
    <img src="assets/portfolio/meri-graduation/2.jpg" class="image-grid-row-2" alt="asd">
    <img src="assets/portfolio/meri-graduation/3.jpg" alt="asd">
    <img src="assets/portfolio/meri-graduation/4.jpg" alt="asd">
    <img src="assets/portfolio/meri-graduation/5.jpg" alt="asd">
    <img src="assets/portfolio/meri-graduation/6.jpg" alt="asd">
    <img src="assets/portfolio/meri-graduation/7.jpg" alt="asd">
    <img src="assets/portfolio/meri-graduation/8.jpg" alt="asd">
    <img src="assets/portfolio/meri-graduation/9.jpg" alt="asd">
    <img src="assets/portfolio/meri-graduation/10.jpg" alt="asd">
    <img src="assets/portfolio/meri-graduation/11.jpg" alt="asd">
    <img src="assets/portfolio/meri-graduation/12.jpg" alt="asd">
    <img src="assets/portfolio/meri-graduation/13.jpg" alt="asd">
    <img src="assets/portfolio/meri-graduation/14.jpg" alt="asd">
    <img src="assets/portfolio/meri-graduation/15.jpg" alt="asd">
    <img src="assets/portfolio/meri-graduation/16.jpg" alt="asd">
    <img src="assets/portfolio/meri-graduation/17.jpg" alt="asd">
    <img src="assets/portfolio/meri-graduation/18.jpg" alt="asd">
    <img src="assets/portfolio/meri-graduation/19.jpg" alt="asd">
    <img src="assets/portfolio/meri-graduation/20.jpg" alt="asd">
</div>