<app-slideshow></app-slideshow>

<!-- main content -->
<div class="about-me-container">
  <div>
    <img src="assets/img/aboutme.jpg" class="rounded-corners about-me" alt="About me">
  </div>
  <div class="about-me-text-container">
    <h3>
      So, who am I?
    </h3>
    <p>
      My name is Victoria and I'm 17 years old. I live in Vidin, Bulgaria. I have been involved in photography for two years, at first I started taking landscape photos, and then portraits. I have taken two photography courses, which helped me to develop my creativity. I have been in many competition. 
    </p>
    <!-- <br>
    <p>
      I work with Nikon D5300 and flashlight Godox tt685. I take portraits, children photoshoot, dog photoshoot, prom, кръщанета and weddings. 
    </p>
    <br>
    <p>
      I will give you fast and quality photography. I can catch the feeling from your event.
    </p> -->
    <div class="btn-container">
      <a class="btn">CONTACT ME</a>
    </div>
  </div>
</div>

<section class="card-wraper">
  <div class="card-container">
    <div class="card">
      <div class="card-image gr-1"></div>
      <h1>Graduation Photoshoot</h1>
      <div>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam cum ea maiores iste provident blanditiis corporis possimus pariatur, optio, quam dolores, sit officiis ad culpa.
        </p>
      </div>
      <div class="card-btn-container">
        <a class="card-btn">SEE MORE</a>
      </div>
    </div>
    <div class="card">
      <div class="card-image gr-2"></div>
      <h1>Portrait Photoshoot</h1>
      <div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda dicta tempore ullam accusamus vero excepturi quis quasi corrupti iure, earum corporis, beatae fuga incidunt hic.
        </p>
      </div>
      <div class="card-btn-container">
        <a class="card-btn">SEE MORE</a>
      </div>
    </div>
    <div class="card">
      <div class="card-image gr-3"></div>
      <h1>Wedding Photoshoot</h1>
      <div>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus iusto dolores placeat! Sunt assumenda iusto magnam ea debitis, quo quas vitae, itaque aperiam, dolorum mollitia.
        </p>
      </div>
      <div class="card-btn-container">
        <a class="card-btn" routerLink="portfolio">SEE MORE</a>
      </div>
    </div>
  </div>
</section>