<div class="image-grid">
    <img src="assets/portfolio/vanesa-graduation/1.jpg" class="img" alt="asd">
    <img src="assets/portfolio/vanesa-graduation/2.jpg" class="img" alt="asd">
    <img src="assets/portfolio/vanesa-graduation/3.jpg" class="img" alt="asd">
    <img src="assets/portfolio/vanesa-graduation/4.jpg" class="image-grid-row-2 img" alt="asd">
    <img src="assets/portfolio/vanesa-graduation/5.jpg" class="img" alt="asd">
    <img src="assets/portfolio/vanesa-graduation/6.jpg" class="img" alt="asd">
    <img src="assets/portfolio/vanesa-graduation/7.jpg" class="img" alt="asd">
    <img src="assets/portfolio/vanesa-graduation/8.jpg" class="image-grid-row-2 img" alt="asd">
    <img src="assets/portfolio/vanesa-graduation/9.jpg" class="img" alt="asd">
    <img src="assets/portfolio/vanesa-graduation/10.jpg" class="image-col-row-2 img" alt="asd">
    <img src="assets/portfolio/vanesa-graduation/11.jpg" class="img" alt="asd">
    <img src="assets/portfolio/vanesa-graduation/12.jpg" class="img" alt="asd">
    <img src="assets/portfolio/vanesa-graduation/13.jpg" class="img" alt="asd">
    <img src="assets/portfolio/vanesa-graduation/14.jpg" class="img" alt="asd">
    <img src="assets/portfolio/vanesa-graduation/15.jpg" class="img" alt="asd">
    <img src="assets/portfolio/vanesa-graduation/16.jpg" class="image-grid-row-2 img" alt="asd">
    <img src="assets/portfolio/vanesa-graduation/17.jpg" class="img" alt="asd">
    <img src="assets/portfolio/vanesa-graduation/18.jpg" class="img" alt="asd">
    <img src="assets/portfolio/vanesa-graduation/19.jpg" class="img" alt="asd">
    <img src="assets/portfolio/vanesa-graduation/20.jpg" class="img" alt="asd">
    <img src="assets/portfolio/vanesa-graduation/21.jpg" class="img" alt="asd">
    <img src="assets/portfolio/vanesa-graduation/22.jpg" class="img" alt="asd">
    <img src="assets/portfolio/vanesa-graduation/23.jpg" class="img" alt="asd">
    <img src="assets/portfolio/vanesa-graduation/24.jpg" class="img" alt="asd">
    <img src="assets/portfolio/vanesa-graduation/25.jpg" class="img" alt="asd">
    <img src="assets/portfolio/vanesa-graduation/26.jpg" class="img" alt="asd">
    <img src="assets/portfolio/vanesa-graduation/27.jpg" class="img" alt="asd">
    <img src="assets/portfolio/vanesa-graduation/28.jpg" class="img" alt="asd">
    <img src="assets/portfolio/vanesa-graduation/29.jpg" class="img" alt="asd">
    <img src="assets/portfolio/vanesa-graduation/30.jpg" class="img" alt="asd">
</div>

<div class="popup-image" id="popup-image-div">
    <span id="popup-span" (click)="closePopup()">&times;</span>
    <img id="popup-image" alt="popup image">
</div>