<div class="image-grid">
    <img src="assets/portfolio/vanesa-graduation/1.jpg" alt="asd">
    <img src="assets/portfolio/vanesa-graduation/2.jpg" alt="asd">
    <img src="assets/portfolio/vanesa-graduation/3.jpg" class="image-col-row-2" alt="asd">
    <img src="assets/portfolio/vanesa-graduation/4.jpg" alt="asd">
    <img src="assets/portfolio/vanesa-graduation/5.jpg" alt="asd">
    <img src="assets/portfolio/vanesa-graduation/6.jpg" class="image-grid-row-2" alt="asd">
    <img src="assets/portfolio/vanesa-graduation/7.jpg" alt="asd">
    <img src="assets/portfolio/vanesa-graduation/8.jpg" alt="asd">
    <img src="assets/portfolio/vanesa-graduation/9.jpg" alt="asd">
    <img src="assets/portfolio/vanesa-graduation/10.jpg" alt="asd">
    <img src="assets/portfolio/vanesa-graduation/11.jpg" alt="asd">
    <img src="assets/portfolio/vanesa-graduation/12.jpg" alt="asd">
    <img src="assets/portfolio/vanesa-graduation/13.jpg" alt="asd">
    <img src="assets/portfolio/vanesa-graduation/14.jpg" alt="asd">
    <img src="assets/portfolio/vanesa-graduation/15.jpg" alt="asd">
    <img src="assets/portfolio/vanesa-graduation/16.jpg" alt="asd">
    <img src="assets/portfolio/vanesa-graduation/17.jpg" alt="asd">
    <img src="assets/portfolio/vanesa-graduation/18.jpg" alt="asd">
    <img src="assets/portfolio/vanesa-graduation/19.jpg" alt="asd">
    <img src="assets/portfolio/vanesa-graduation/20.jpg" alt="asd">
    <img src="assets/portfolio/vanesa-graduation/21.jpg" alt="asd">
    <img src="assets/portfolio/vanesa-graduation/22.jpg" alt="asd">
    <img src="assets/portfolio/vanesa-graduation/23.jpg" alt="asd">
    <img src="assets/portfolio/vanesa-graduation/24.jpg" alt="asd">
    <img src="assets/portfolio/vanesa-graduation/25.jpg" alt="asd">
    <img src="assets/portfolio/vanesa-graduation/26.jpg" alt="asd">
    <img src="assets/portfolio/vanesa-graduation/27.jpg" alt="asd">
    <img src="assets/portfolio/vanesa-graduation/28.jpg" alt="asd">
    <img src="assets/portfolio/vanesa-graduation/29.jpg" alt="asd">
    <img src="assets/portfolio/vanesa-graduation/30.jpg" alt="asd">
</div>